<div class="container" id="index">
  <h1>Vintage Bikes with Baskets</h1>
  <h2>Your source for vintage bikes with baskets.</h2>

  <div class="row" id="my-images">
    <div class="col-lg-4 col-md-6 col-xs-6">
      <%= image_tag("vintagebike.jpg", class: "img-responsive vin-bike") %>
    </div> <!--end col div-->

    <div class="col-lg-4 col-md-6 col-xs-6">
      <%= image_tag("vbike.jpg", class: "img-responsive vbike") %>
    </div> <!--end col div-->

    <div class="col-lg-4 col-md-6 col-xs-6">
      <%= image_tag("vbike2.jpg", class: "img-responsive vbike2") %>
    </div> <!--end col div-->

    <div class="col-lg-4 col-md-6 col-xs-6">
      <%= image_tag("vbike3.jpg", class: "img-responsive vbike3") %>
    </div> <!--end col div-->

    <div class="col-lg-4 col-md-6 col-xs-6">
      <%= image_tag("vbike4.jpg", class: "img-responsive vbike4") %>
    </div> <!--end col div-->

    <div class="col-lg-4 col-md-6 col-xs-6">
    <%= image_tag("vbike5.jpg", class: "img-responsive vbike5") %>
    </div> <!--end col div-->
  </div> <!--end row div-->
</div> <!--end index con div-->
