<% if signed_in? %>


    <h4>Add a review:</h4>
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <p>
        <%= f.label :body, "Comments" %>
        <%= f.text_area :body, class: "comment_body" %>
      </p>
      <p>
        <div class="rating"></div>
      </p>
      <p class="review-submit">
        <%= f.submit "Submit" %>
      </p>
    <% end %>


  <div class="">
    <%= form_with(url:"/payments/create", method: "post", local: true) do |form| %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
  </div>

<% end %>
